<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508076496401-bfee0c3n8q3r441h2ov28b5cti5ramev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508076496401-bfee0c3n8q3r441h2ov28b5cti5ramev</string>
	<key>API_KEY</key>
	<string>AIzaSyBZFAVasDll4ByGU08NXRBpHAi1bAnZ5P4</string>
	<key>GCM_SENDER_ID</key>
	<string>508076496401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gulfterminal.dreams</string>
	<key>PROJECT_ID</key>
	<string>dreams-357708</string>
	<key>STORAGE_BUCKET</key>
	<string>dreams-357708.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508076496401:ios:349ec9d1d50fc0e10ec3b0</string>
</dict>
</plist>